*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: url(/images/bluebg.jpg);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    
    background: rgba(247, 242, 236, 0.5);
    backdrop-filter: blur(12px);   
    margin: 30px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow:  4px 4px 8px rgba(0, 0, 0, 0.3),  
    -4px -4px 8px rgba(255, 255, 255, 0.30), 
    inset 1px 1px 2px rgba(255, 255, 255, 0.2), 
    inset -1px -1px 2px rgba(209, 217, 230, 0.15); 
}
.todo-app h2{
    color: black;
    display: flex;
    font-size: 40px;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Cedarville Cursive", cursive;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(247, 242, 236, 0.5);
    backdrop-filter: blur(12px);  
    gap: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}
input{
    flex: 1;
    border: none;
    outline: none;
   margin-bottom: 5px;
    padding: 10px;
    font-size: 10px;
    border: none; 
    border-bottom: 1px solid #d0d0d0;
   background: transparent;
}
#input-box{
    background: transparent;
}
button{
    border: none;
    outline: none;
    padding: 10px 20px;
    background: linear-gradient(145deg, #0b2270, #07194a);
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    border-radius: 0.3em;
    box-shadow: 
    4px 4px 8px rgba(0, 0, 0, 0.3),   
    -4px -4px 8px rgba(255, 255, 255, 0.15), 
    inset 1px 1px 2px rgba(255, 255, 255, 0.2), 
    inset -1px -1px 2px rgba(209, 217, 230, 0.15); 
    transition: all 0.2s ease-in-out;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/images/png-transparent-computer-icons-check-mark-cheque-desktop-correct-angle-logo-desktop-wallpaper-thumbnail.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;

}